
  



@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


/* GENERAL */

*{
    text-decoration: none; /*Ningun texto tenga decoracion*/
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;
    
}

:root {
    /* Color Palette */
    --black: #000000;
    --yellow: #f1a208;
    --lightblue: #68e1fd;
    --blue: #005377;
    --darkblue: #052f5f;
    

    
}

.titles {
    background: white;
    color: var(--black);
}
.titles h2{
    padding: 15px;
}

#container{
    width: 100%; /*Anchura en concreto*/
}

/* HEADER */

.main-header{
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkblue);
    padding: 0 0.4rem;
  }

  .main-header img{
    width: 100px;
  }
  
  .main-logo{
    color: black;
    font-size:32px;
    text-decoration:none;
  }
  
  .main-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: -100%;
    transition: all .2s linear;
    background-color: rgba(0,0,0,.7);
    z-index: 100;
  }
  
  .main-nav.show{
    margin-left: 0;
  }
  
  .nav-links{
    background-color: var(--darkblue);
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  
  .link-item{
    margin-top: 2rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }
  
  .link-item::after {
    position: absolute;
    background-color: black;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s ease all;
  }
  
  .link-item:hover::after {
    width: 100%;
  }
  
  .button-menu{
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .button-menu span{
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: white;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all .2s linear;
  }
  
  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: white;
  }
  
  .button-menu.close span:nth-child(2){
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  
  .button-menu.close span:nth-child(3){
    display: none;
  }
  

/* SOBRE MI */

#about-me{
    display: flex; /*Pone la caja de logo y menu una al lado de la otra*/
    flex-direction: column; /*Se comporta como fila*/
    align-items: center; /*Centra verticalmente*/
    height: 100%;
    padding-top: 20px;
    justify-content: center;
    background: var(--blue);
} 

#about-me > .about-me-left{
    text-align: center;
    align-items: center; /*Centra verticalmente*/
}

h1{
    color:white;
}

.dani-image{
    padding-top: 10px;
    width: 250px;
    height: auto;
    border-radius: 333px;
}

.about-me-left p{
    padding: 15px;
    border: 3px solid #052f5f;
    border-radius: 5px;
    margin: 30px;
    color: white;
    word-spacing: 10px;
}

button{
    width: 120px;
    height: 40px;
    background: var(--lightblue);
    border: 1px solid #052f5f;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 4px;
}

button a{
    color: var(--blue);
    font-weight: bold;
}

.about-me-right{
    margin: 20px;
}

.web-image{
    width: 400px;
    height: auto;
}

/* PROJECTOS */

#projects{
    display: flex; /*Pone la caja de logo y menu una al lado de la otra*/
    flex-direction: column; /*Se comporta como fila*/
    align-items: center; /*Centra verticalmente*/
    width: 100%;
    padding-top: 20px;
    justify-content: center;
    background: var(--blue);
} 

.project{
    border: 3px solid #052f5f;
    margin: 30px;
    width: 300px;
    height: 300px;
    text-align: center;
    align-items: center; /*Centra verticalmente*/
}

.image-project img{
    width: 90%;
    min-height: 250px;
}

.project-info a{
    color: white;
}
/* HABILIDADES */

.skills{
    background-color: var(--blue);
    color: white;
    padding: 50px 50px; 
}

.skills .contenido-section{
    max-width: 1100px;
    margin: auto;
}

.skills .fila{
    display: flex;
    flex-direction: column;
}

.skills .fila .col{
    width: 100%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold; 
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: var(--lightblue);
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: var(--darkblue);
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: var(--darkblue);
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/* % HABILIDADES TECNICAS */

/*HTML & CSS*/
.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;   
}
@keyframes htmlcss{
    0%{width: 0%;}
    100%{width: 85%;}
}
/*JavaScript*/
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;   
}
@keyframes javascript{
    0%{width: 0%;}
    100%{width: 74%;}
}
/*TypeScript*/
.skills .skill .typescript{
    width: 0%;
    animation: 2s typescript forwards;   
}
@keyframes typescript{
    0%{width: 0%;}
    100%{width: 70%;}
}
/*Reac*/
.skills .skill .react{
    width: 0%;
    animation: 2s react forwards;   
}
@keyframes react{
    0%{width: 0%;}
    100%{width: 82%;}
}
/*Nest.js*/
.skills .skill .nestjs{
    width: 0%;
    animation: 2s nestjs forwards;   
}
@keyframes nestjs{
    0%{width: 0%;}
    100%{width: 71%;}
}

/* % HABILIDADES PERSONALES */

/*Comunicacion*/
.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;   
}
@keyframes comunicacion{
    0%{width: 0%;}
    100%{width: 90%;}
}
/*Trabajo en Equipo*/
.skills .skill .trabajo-en-equipo{
    width: 0%;
    animation: 2s trabado-en-equipo forwards;   
}
@keyframes trabado-en-equipo{
    0%{width: 0%;}
    100%{width: 95%;}
}
/*Creatividad*/
.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;   
}
@keyframes creatividad{
    0%{width: 0%;}
    100%{width: 88%;}
}
/*Dedicacion*/
.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;   
}
@keyframes dedicacion{
    0%{width: 0%;}
    100%{width: 92%;}
}
/*Responsabilidad*/
.skills .skill .responsabilidad{
    width: 0%;
    animation: 2s responsabilidad forwards;   
}
@keyframes responsabilidad{
    0%{width: 0%;}
    100%{width: 98%;}
}

/* CONTACTO */

#contact{
    width: 100%;  
    height: auto;
    background: var(--blue);   
}
.contact-image{
    width: 100%;
    display: flex;
    flex-direction: column;
 }
.contact-image img{
   min-width: 350px;
   margin: 0 auto;
   padding-top: 30px;
}

.redes {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttons {
    min-width: 500px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  
  .buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: var(--darkblue);
    color: white;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .buttons a:hover {
    transform: scale(1.2);
  }

  .contact-me{
    min-width: 100px;
    min-height: 100px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-me a {
    text-decoration: none;
    padding: 5px;
    font-size: 28px;
    width: 160px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: var(--lightblue);
    color: var(--darkblue);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    
  }
  

/* FOOTER */

footer{
    height: 30px;
    width: 100%;
    text-align: center;
    background: var(--darkblue);
    color: white;
}



/* M E D I A Q U E R Y */

@media (min-width: 768px){
    .main-header{
        position: fixed;
        width: 100%;
    }

    .button-menu{
        display: none;
      }
    
      .main-logo{
        flex-basis: 30%;
      }
    
      .main-nav{
        position: static;
        margin-left: 0;
        flex-basis: 70%;
        height: 100%;
      }
    
      .nav-links{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        background: var(--darkblue);
      }
    
      .link-item{
        display: inline-block;
        margin-top: 0;
        margin-right: 2rem;
      }
    

    #about-me{
    
    display: flex; /*Pone la caja de logo y menu una al lado de la otra*/
    flex-direction: row; /*Se comporta como fila*/
    align-items: center; /*Centra verticalmente*/
    min-height: 100vh;
    padding-top: 20px;
    justify-content: center;
    background: var(--blue);
    } 
    #projects{
    
    display: flex; /*Pone la caja de logo y menu una al lado de la otra*/
    flex-direction: row; /*Se comporta como fila*/
    align-content:space-between;
    min-height: 100vh;
    padding-top: 20px;
    justify-content: center;
    background: var(--blue);
    } 
    .project{
    border: 1px solid black;
    margin: 30px;
    width: 250px;
    height: 250px;
    text-align: center;
    align-items: center; /*Centra verticalmente*/
    }
    .image-project img{
    width: 250px;
    height: auto;
    }
    /*Habilidades*/
    #skills{
        min-height: 100vh;
    }

    .skills .fila{
        display: flex;
        flex-direction: row;
    }
    .skills .fila .col{
        width: 50%;
        padding: 0 20px;
    }
    #contact{
        min-height: 100vh;
    }
}

